@use 'variables' as *;

:host {
  display: block;
  margin: spacing(5) spacing(8) 0;

  & > * {
    margin-bottom: spacing(8);
  }
}

.track-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto spacing(5);
  overflow: hidden;
  width: calc(80%);
  text-align: center;
  @include text-ellipsis;

  &__title {
    width: calc(100%);
    @include text-ellipsis;

    margin-bottom: spacing(1);
    line-height: 2.3rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__author {
    width: calc(100%);
    @include text-ellipsis;

    color: $text-secondary;
    font-size: 1.25rem;
  }
}
