<div class="player">
  <swiper class="swiper" [virtual]="swiperVirtualOptions" [config]="swiperOptions" #swiper>
    <ng-template *ngFor="let track of currentQueue" swiperSlide>
      <object class="track-thumb" [data]="track.thumbUrl | safe" type="image/jpeg">
        <img class="track-thumb" [src]="'' | safe" [alt]="currentTrack?.title" loading="lazy" />
      </object>
    </ng-template>
  </swiper>

  <a class="track-info" [routerLink]="albumUrl">
    <strong class="track-info__title">{{ this.currentTrack?.title }}</strong>
    <span class="track-info__author">{{ this.currentTrack?.author }}</span>
  </a>
</div>

<div class="player-bottom">
  <maheta-player-controls [track]="currentTrack"></maheta-player-controls>
  <maheta-player-lyrics [track]="currentTrack"></maheta-player-lyrics>
</div>
