@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: spacing(5);
  gap: spacing(10);
}

.track-thumb {
  width: 400px;
  max-width: 100%;
  object-fit: cover;
}

.track-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(4);

  strong {
    font-size: 1.75rem;
    font-weight: 500;
  }

  span {
    color: $text-secondary;
    font-size: 1.25rem;
  }
}

.controls {
  width: 100%;
  max-width: $tablet;

  .buttons {
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .control-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: spacing(3);
    }
    @include m-fab(xl);
    @include m-icon-button(lg);
  }
}
