@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: spacing(5);
  gap: spacing(10);
}

.track-thumb {
  display: block;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.track-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  strong {
    font-size: 1.75rem;
    font-weight: 500;
  }

  span {
    color: $text-secondary;
    font-size: 1.25rem;
  }
}

.controls {
  mat-slider {
    display: block;
    padding: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: spacing(3);

    @include m-icon-button(lg);
    @include m-fab(xl);
  }
}
