@use 'variables' as *;

:host {
  display: block;
  margin: spacing(5) spacing(8) 0;

  & > * {
    padding-bottom: spacing(12);
  }
}

.track-thumb {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;

  &__title {
    margin-bottom: spacing(4);
    font-size: 1.75rem;
    font-weight: 500;
  }

  &__author {
    color: $text-secondary;
    font-size: 1.25rem;
  }
}

.track-controls {
  width: 100%;
  max-width: $tablet;
  margin: 0 auto;

  &__track-time {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: spacing(8);
    color: $text-secondary;
  }

  &__buttons {
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    @include m-fab(xl);
    @include m-icon-button(lg);
  }

  &__center-buttons :nth-child(2) {
    margin: 0 spacing(4);
  }
}
