<h1 class="dialog-header-container">Choose playlist</h1>

<div class="dialog-content-container">
  <ng-container *ngIf="!!playlists?.length">
    <button
      class="playlist"
      *ngFor="let playlist of playlists"
      (click)="addTrackToPlaylist(playlist, track)"
      mat-menu-item
    >
      {{ playlist.name }}
    </button>
  </ng-container>

  <div *ngIf="!playlists?.length">No playlists!</div>
</div>

<div class="dialog-footer-container">
  <button (click)="close()" color="accent" mat-button>Close</button>
</div>
