<h1 class="dialog-header-container" i18n="@@choosePlaylist">Choose playlist</h1>

<div class="dialog-content-container">
  <ng-container *ngIf="!!playlists?.length">
    <button
      class="playlist"
      *ngFor="let playlist of playlists"
      (click)="addTrackToPlaylist(playlist, track)"
      mat-menu-item
    >
      {{ playlist.name }}
    </button>
  </ng-container>

  <span *ngIf="!playlists?.length" i18n="@@noPlaylists!">No playlists!</span>
</div>

<maheta-dialog-footer-buttons
  (secondaryButtonEvent)="close()"
  secondaryButtonLabel="Close"
></maheta-dialog-footer-buttons>
