<mat-card *ngIf="lyricSentences?.length">
  <mat-card-header>
    <div class="lyrics-header align-center">
      <div class="align-center">
        <mat-icon>music_note</mat-icon>
        <span>{{ 'global.lyrics' | translate }}</span>
      </div>

      <div>
        <button (click)="openEditLyricsDialog()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="openLyricsBrowser()" mat-icon-button>
          <mat-icon>open_in_browser</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <div class="lyrics-content-wrapper">
    <mat-card-content class="lyrics-content">
      <div class="sentence" *ngFor="let sentence of lyricSentences">
        <span
          *ngFor="let word of sentence.words; let first = first"
          (click)="wordSelect(word.text)"
          [class.active]="isWordHighlighted(word.text)"
          [innerText]="padWord(word, first)"
        >
        </span>
      </div>
    </mat-card-content>
  </div>
</mat-card>
