<mat-card *ngIf="lyricSentences?.length">
  <mat-card-header>
    <mat-card-title class="lyrics-header">
      <mat-icon>music_note</mat-icon>
      <ng-container>{{ 'global.lyrics' | translate }}</ng-container>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="lyrics-content">
    <div *ngFor="let sentence of lyricSentences">
      <span
        *ngFor="let word of sentence.words"
        (click)="wordSelect(word)"
        [class.active]="isWordHighlighted(word)"
      >
        {{ word }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
