@use 'variables' as *;
@use '@angular/material' as mat;

:host {
  display: block;
  min-height: 70px;
  padding: 0;

  mat-card {
    border-radius: 0;
    background-color: $primary-light;
    @include mat.elevation(5);
  }

  mat-card.placeholder {
    background-color: transparent;
    padding-bottom: 0;
    box-shadow: none;

    .lyrics-header-text {
      color: $text-disabled;
    }
  }
}

.align-center {
  display: flex;
  align-items: center;
}

.lyrics-header {
  position: relative;
  width: 100%;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: spacing(1) !important;
  z-index: 100;

  span {
    margin-left: spacing(1);
  }

  button {
    margin-left: spacing(5);
  }
}

.lyrics-content {
  height: 45vh;
  overflow-y: scroll;
  white-space: pre-wrap;
  line-height: 2rem;
  font-size: 1.7rem;
  padding-top: spacing(3);

  .sentence {
    margin-bottom: spacing(5);
  }

  span {
    margin-left: 0;
    padding: spacing(0.6) 0;
    border-radius: spacing(2);
  }

  .active {
    color: $accent;
    background-color: $primary-light;
    @include mat.elevation(5);
  }
}

.lyrics-content-wrapper {
  position: relative;
}

@mixin scroll-viewport-blur() {
  position: absolute;
  z-index: 1;
  content: '';
  background-color: $primary-light;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  display: block;
  height: 25px;
}

.lyrics-content-wrapper::before {
  top: -10px;
  left: -10px;
  right: -10px;
  @include scroll-viewport-blur();
}

.lyrics-content-wrapper::after {
  bottom: -10px;
  left: -10px;
  right: -10px;
  @include scroll-viewport-blur();
}

mat-card-content {
  margin-bottom: spacing(1);
}
