<mat-slider
  (valueChange)="sliderRelease($event)"
  (input)="sliderHold($event)"
  [max]="sliderSettings.max"
  [min]="sliderSettings.min"
  [step]="sliderSettings.step"
  [value]="sliderSettings.value"
  color="accent"
  aria-labelledby="example-name-label"
>
</mat-slider>

<div class="track-time">
  <span>{{ this.currentTrackTime | mahetaDuration }}</span>
  <span>{{ this.duration | mahetaDuration }}</span>
</div>

<div class="control-buttons">
  <button
    (click)="toggleShuffle()"
    [color]="isShuffle() ? 'accent' : undefined"
    aria-label="Example icon button with a bookmark icon"
    mat-icon-button
  >
    <mat-icon>shuffle</mat-icon>
  </button>

  <div class="center-buttons">
    <button (click)="prev()" aria-label="Example icon button with a bookmark icon" mat-icon-button>
      <mat-icon>skip_previous</mat-icon>
    </button>

    <ng-container *ngIf="!isPlaying()">
      <button
        (click)="play()"
        color="accent"
        aria-label="Example icon button with a bookmark icon"
        mat-fab
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="isPlaying()">
      <button
        (click)="pause()"
        color="accent"
        aria-label="Example icon button with a bookmark icon"
        mat-fab
      >
        <mat-icon>pause</mat-icon>
      </button>
    </ng-container>

    <button (click)="next()" aria-label="Example icon button with a bookmark icon" mat-icon-button>
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>

  <button
    (click)="nextRepeatMode()"
    [color]="isRepeatOne() || isRepeatQueue() ? 'accent' : undefined"
    aria-label="Example icon button with a bookmark icon"
    mat-icon-button
  >
    <mat-icon *ngIf="!isRepeatOne()">repeat</mat-icon>
    <mat-icon *ngIf="isRepeatOne()">repeat_one</mat-icon>
  </button>
</div>
