<div class="player">
  <div class="header">
    <p class="counter mat-body">
      {{ queuePosition + 1 }} {{ 'global.of' | translate }} {{ queueSize }}
    </p>
    <p class="mat-body-strong">{{ currentTrack?.album }}</p>
  </div>

  <swiper
    class="swiper"
    (slideChange)="handleSlideChange($event)"
    [virtual]="swiperVirtualOptions"
    [config]="swiperOptions"
    [rewind]="rewind"
    #swiper
  >
    <ng-template *ngFor="let track of currentQueue" swiperSlide>
      <div class="slide">
        <object class="track-thumb" [data]="track.thumbUrl | safe" type="image/jpeg">
          <img class="track-thumb" [src]="'' | safe" [alt]="currentTrack?.title" />
        </object>
      </div>
    </ng-template>

    <div slot="container-end">
      <a class="track-info" [routerLink]="albumUrl">
        <strong class="track-info__title">{{ this.currentTrack?.title }}</strong>
        <span class="track-info__author">{{ this.currentTrack?.author }}</span>
      </a>
    </div>
  </swiper>
  <maheta-player-controls class="width-wrapper" [track]="currentTrack"></maheta-player-controls>
</div>

<maheta-player-lyrics class="width-wrapper" [track]="currentTrack"></maheta-player-lyrics>
