<div class="player">
  <div class="header">
    <button (click)="close()" mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <div class="text-ellipsis" (click)="navigateToAlbum()">
      <p class="counter mat-body">
        {{ queuePosition + 1 }} {{ 'global.of' | translate }} {{ queueSize }}
      </p>
      <p class="mat-body-strong">{{ currentTrack?.album }}</p>
    </div>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <maheta-player-swiper [currentTrack]="currentTrack" [queue]="queue">
    <div class="track-info text-ellipsis">
      <strong class="track-info__title" (click)="navigateToAlbum()">
        {{ this.currentTrack?.title }}
      </strong>
      <span class="track-info__author" (click)="navigateToAlbum()"
        >{{ this.currentTrack?.author }}
      </span>
    </div>
  </maheta-player-swiper>

  <maheta-player-controls class="width-wrapper" [track]="currentTrack"></maheta-player-controls>
</div>

<maheta-player-lyrics [track]="currentTrack"></maheta-player-lyrics>
