@use 'variables' as *;
@use '@angular/material' as mat;
@include sheet;

:host {
  overflow-y: scroll;

  .swiper {
    width: 100%;
    padding-top: 56px;

    .slide {
      height: 100%;
      padding-top: spacing(6);
    }

    ::ng-deep .swiper-wrapper {
      height: auto;
    }
  }
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 42px);
}

.player-bottom {
  width: 100%;
  padding-left: spacing(8);
  padding-right: spacing(8);
}

.track-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;

  //width: 250px;
  //height: 250px;
  //min-width: 250px;
  //min-height: 250px;
}

.track-info {
  display: flex;
  margin: 0 auto;
  padding: spacing(10) spacing(8);
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: calc(100%);
  text-align: center;
  @include text-ellipsis;

  &__title {
    width: calc(100%);
    margin-bottom: spacing(1);
    line-height: 2.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    @include text-ellipsis;
  }

  &__author {
    width: calc(100%);
    color: $text-secondary;
    font-size: 1.25rem;
    @include text-ellipsis;
  }
}
