@use 'variables' as *;
@use '@angular/material' as mat;

:host {
  display: block;
  overflow-y: scroll;

  .swiper {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding-top: spacing(6);

    .slide {
      height: 100%;
      border-radius: spacing(2);
      overflow: hidden;
      background-image: url('/assets/note.jpg');
      background-size: cover;
      @include mat.elevation(2);
    }

    ::ng-deep .swiper-slide {
      transform: scale(0.9);
    }

    ::ng-deep .swiper-slide.swiper-slide-active {
      transform: scale(1);
    }

    ::ng-deep .swiper-wrapper {
      height: auto;
    }
  }
}

:host.transition {
  .swiper ::ng-deep .swiper-slide {
    transition: transform 0.5s;
  }
}

.player {
  background: $gradient-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 42px);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: spacing(2) 0;
  font-size: 0.7rem;
  text-align: center;

  .counter {
    color: $text-secondary;
  }
}

maheta-player-lyrics {
  position: relative;
}

maheta-player-lyrics::after {
  position: absolute;
  z-index: -1;
  content: '';
  background-color: $background;
  display: block;
  top: -1%;
  bottom: 0;
  left: 0;
  right: 0;
}

.width-wrapper {
  width: 100%;
  padding-left: spacing(8);
  padding-right: spacing(8);
}

.track-thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.track-info {
  display: flex;
  margin: 0 auto;
  padding: spacing(10) spacing(8);
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: calc(100%);
  text-align: center;
  @include text-ellipsis;

  &__title {
    max-width: calc(100%);
    margin-bottom: spacing(1);
    line-height: 2.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    @include text-ellipsis;
  }

  &__author {
    max-width: calc(100%);
    color: $text-secondary;
    font-size: 1.25rem;
    @include text-ellipsis;
  }
}
