<h1 class="dialog-header-container">{{ 'CREATE_PLAYLIST.createPlaylist' | translate }}</h1>

<div class="dialog-content-container">
  <form [formGroup]="form">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>{{ 'CREATE_PLAYLIST.name' | translate }}</mat-label>
      <input formControlName="playlistName" matInput placeholder="Playlist #X" />
    </mat-form-field>
  </form>
</div>

<maheta-dialog-footer-buttons
  (secondaryButtonEvent)="close()"
  (primaryButtonEvent)="save()"
  [primaryButtonLabel]="'global.save' | translate"
  [secondaryButtonLabel]="'global.close' | translate"
></maheta-dialog-footer-buttons>
