<ul class="album-list">
  <ng-container #itemsContainer></ng-container>
</ul>

<ng-template #item let-album>
  <li class="album">
    <a [routerLink]="album.title">
      <object class="album__thumb" [data]="album.thumbUrl | safe" type="image/jpeg">
        <img class="album__thumb" [alt]="album.title" [src]="'' | safe" />
      </object>

      <div class="album-info">
        <p class="album-info__title">{{ album.title }}</p>
        <div class="album-info__text">
          <span>{{ album.author }}</span>
          <span *ngIf="album?.year">{{ album.year }}</span>
          <span class="transparent-text" *ngIf="!album?.year"> ? </span>
        </div>
      </div>
    </a>
  </li>
</ng-template>
