<cdk-virtual-scroll-viewport itemSize="32" minBufferPx="=64" maxBufferPx="1000">
  <ul class="album-list">
    <li *cdkVirtualFor="let album of albums" class="album">
      <a routerLink="{{ album.title }}">
        <img class="album__thumb" src="{{ album.thumbUrl }}" alt="{{ album.thumbUrl }}" />

      <div class="album-info">
        <p class="album-info__title">{{ album.title }}</p>

        <div class="album-info__secondary">
          <div class="album-info__text">
            <span>{{ album.author }}</span>
            <span>{{ 2010 }}</span>
          </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</cdk-virtual-scroll-viewport>
