@use '@angular/material' as mat;
@use 'variables' as *;

:host {
  display: block;
  height: 70vh;
  position: relative;
  background-color: $primary-light;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(2) translate(-50%, -50%);
  z-index: 1;
}

iframe {
  position: absolute;
  z-index: 2;
  display: block;
  height: 100%;
  overflow: scroll;
  border-style: none;
  width: 100%;
}
