@use 'variables' as *;

:host {
  display: block;
}

li {
  display: flex;
  align-items: center;
  padding: spacing(2) spacing(4);
  margin-top: spacing(1);
}

.track-thumb {
  width: size(lg);
  height: size(lg);
  object-fit: cover;
}

.track-info {
  display: flex;
  flex-direction: column;
  margin-left: spacing(4);

  &__title {
    margin-bottom: spacing(1);
    font-size: 1rem;
  }

  &__author {
    color: $text-secondary;
    font-size: 1rem;
  }
}
