@use 'utility' as *;

/*
* Material components
*/

@mixin m-icon-button($size) {
  .mat-icon-button {
    width: size($size);
    height: size($size);
    line-height: size($size);

    $-resize: 1;

    .mat-icon {
      width: size(get-size-smaller($size, $-resize));
      height: size(get-size-smaller($size, $-resize));
      font-size: size(get-size-smaller($size, $-resize));
      line-height: size(get-size-smaller($size, $-resize));
    }
  }
}

@mixin m-icon($size) {
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
}

@mixin m-fab($size) {
  .mat-fab {
    width: size($size);
    height: size($size);
    line-height: size($size);

    $-resize: 2;

    .mat-icon {
      width: size(get-size-smaller($size, $-resize));
      height: size(get-size-smaller($size, $-resize));
      font-size: size(get-size-smaller($size, $-resize));
      line-height: size(get-size-smaller($size, $-resize));
    }
  }
}
