@use 'utility' as *;

/*
* Material components
*/

@mixin m-icon-button($size) {
  .mat-icon-button {
    width: size($size);
    height: size($size);
    line-height: size($size);

    .mat-icon {
      width: size(get-size-smaller($size));
      height: size(get-size-smaller($size));
      font-size: size(get-size-smaller($size));
      line-height: size(get-size-smaller($size));
    }
  }
}

@mixin m-fab($size) {
  .mat-fab {
    width: size($size);
    height: size($size);
    line-height: size($size);

    .mat-icon {
      width: size(get-size-smaller(get-size-smaller($size)));
      height: size(get-size-smaller(get-size-smaller($size)));
      font-size: size(get-size-smaller(get-size-smaller($size)));
      line-height: size(get-size-smaller(get-size-smaller($size)));
    }
  }
}
