@use 'variables' as *;
@use 'utility' as *;

@mixin scroll-list() {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  li:last-child {
    margin-bottom: spacing(2);
  }

  li:first-child {
    margin-top: spacing(2);
  }
}

@mixin scroll-view-cdk() {
  cdk-virtual-scroll-viewport {
    height: 100%;
    overflow-x: hidden;

    li:last-child {
      margin-bottom: spacing(2);
    }

    li:first-child {
      margin-top: spacing(2);
    }
  }
}

@mixin track-list-padding-x() {
  padding-left: spacing(4);
  padding-right: spacing(2);
}

@mixin track-list() {
  .scroll-element {
    height: 64px;
    position: relative;
    margin-bottom: spacing(1);
  }

  .content {
    display: flex;
    width: calc(100vw);
    align-items: center;
    height: size(xl);
    @include track-list-padding-x;

    .thumb {
      object-fit: cover;
      width: size(lg);
      height: size(lg);
      min-width: size(lg);
      min-height: size(lg);
    }

    .info {
      display: flex;
      flex-direction: column;
      width: calc(67%);
      padding-left: spacing(3);

      &__title {
        font-size: 1.1rem;
        margin-bottom: 2px;
      }

      &__author {
        font-size: 0.8rem;
        color: $text-secondary;
      }

      &.active {
        color: $accent;
      }

      &.active &__author {
        color: $accent-dark;
      }
    }
  }

  .menu {
    height: size(xl);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: $text-secondary;

    &__duration {
      font-size: 0.8rem;
      padding-left: spacing(3);
      color: $text-secondary;
    }
  }
}

@mixin dialog() {
  .dialog-header-container {
    margin-bottom: spacing(4);
  }

  .dialog-content-container {
    max-height: 230px;
    margin-bottom: spacing(4);
    overflow-y: scroll;
  }

  .dialog-footer-container {
    display: flex;
    justify-content: flex-end;
    padding-top: spacing(4);

    button + button {
      margin-left: spacing(4);
    }
  }
}

@mixin sheet() {
  .sheet-header-container {
    background-color: $background;
    height: size(lg);
    padding: spacing(2) spacing(3);
  }

  .sheet-content-container {
    background-color: $background;
    margin: spacing(2) spacing(3);
    overflow-y: scroll;
  }
}

.transparent-text {
  color: transparent;
}
