@use 'variables' as *;
@use 'utility' as *;

@mixin scroll-list() {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  li:last-child {
    margin-bottom: spacing(2);
  }

  li:first-child {
    margin-top: spacing(2);
  }
}

@mixin scroll-view-cdk() {
  cdk-virtual-scroll-viewport {
    height: 100%;
    overflow-x: hidden;

    li:last-child {
      margin-bottom: spacing(2);
    }

    li:first-child {
      margin-top: spacing(2);
    }
  }
}

@mixin track-list-padding-x() {
  padding-left: spacing(4);
  padding-right: spacing(2);
}

@mixin track-list() {
  .scroll-element {
    height: 64px;
    position: relative;
  }

  .content {
    display: flex;
    width: calc(100vw);
    align-items: center;
    height: size(xl);
    @include track-list-padding-x;

    .thumb {
      object-fit: cover;
      width: size(lg);
      height: size(lg);
      min-width: size(lg);
      min-height: size(lg);
    }

    .info {
      display: flex;
      flex-direction: column;
      width: calc(50%);
      padding-left: spacing(4);

      &__title {
        margin-bottom: spacing(1);
      }

      &__author {
        color: $text-secondary;
      }

      &.active {
        color: $accent;
      }

      &.active &__author {
        color: $accent-dark;
      }
    }
  }

  //.waveform-animation {
  //  position: relative;
  //  height: 0;
  //  width: 40px;
  //  transform: scale(0.7);
  //
  //  span {
  //    display: block;
  //    left: 0;
  //    bottom: 0;
  //    width: 5px;
  //    height: 3px;
  //    background-color: $accent-dark;
  //    position: absolute;
  //    animation: audio-wave 1.5s infinite ease-in-out;
  //  }
  //
  //  span:nth-child(2) {
  //    left: 7px;
  //    animation-delay: 0.2s;
  //  }
  //
  //  span:nth-child(3) {
  //    left: 14px;
  //    animation-delay: 0.4s;
  //  }
  //
  //  span:nth-child(4) {
  //    left: 21px;
  //    animation-delay: 0.6s;
  //  }
  //
  //  span:nth-child(5) {
  //    left: 28px;
  //    animation-delay: 0.8s;
  //  }
  //
  //  @keyframes audio-wave {
  //    0% {
  //      transform: scaleY(1);
  //      background-color: $accent-dark;
  //    }
  //
  //    25% {
  //      transform: scaleY(6.67);
  //      background-color: $accent-dark;
  //    }
  //
  //    50% {
  //      transform: scaleY(1);
  //      background-color: $accent;
  //    }
  //
  //    100% {
  //      transform: scaleY(1);
  //      background-color: $accent;
  //    }
  //  }
  //}

  .menu {
    height: size(xl);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    &__duration {
      padding: 0 spacing(3);
      color: $text-secondary;
    }
  }
}

@mixin dialog() {
  .dialog-header-container {
    margin-bottom: spacing(4);
  }

  .dialog-content-container {
    max-height: 230px;
    margin-bottom: spacing(4);
    overflow-y: scroll;
  }

  .dialog-footer-container {
    display: flex;
    justify-content: flex-end;
    padding-top: spacing(4);

    button + button {
      margin-left: spacing(4);
    }
  }
}

@mixin sheet() {
  .sheet-header-container {
    background-color: $background;
    height: size(lg);
    padding: spacing(2) spacing(3);
  }

  .sheet-content-container {
    background-color: $background;
    margin: spacing(2) spacing(3);
    overflow-y: scroll;
  }
}

.transparent-text {
  color: transparent;
}
