/*
*  Sizing utility functions
*/
$-spacer: 1rem;

@function spacing($i) {
  @return 0.25 * $i * $-spacer;
}

$-sizing-map: (
  xxxs: 0.5 $-spacer,
  xxs: 0.75 $-spacer,
  xs: $-spacer,
  sm: 1.5 * $-spacer,
  md: 2 * $-spacer,
  lg: 3 * $-spacer,
  xl: 4 * $-spacer,
  xxl: 6 * $-spacer,
  xxxl: 8 * $-spacer,
);
@function size($size) {
  @if map-has-key($-sizing-map, $size) {
    @return map-get($-sizing-map, $size);
  } @else {
    @error 'Size "#{$size}" not found';
  }
}

$-size-smaller-map: (
  xxs: xxxs,
  xs: xxs,
  sm: xs,
  md: sm,
  lg: md,
  xl: lg,
  xxl: xl,
  xxxl: xxl,
);
@function get-size-smaller($size, $c) {
  @if map-has-key($-size-smaller-map, $size) {
    @if $c == 1 {
      @return map-get($-size-smaller-map, $size);
    }
    @return get-size-smaller(map-get($-size-smaller-map, $size), $c - 1);
  } @else {
    @error 'Size "#{$size}" not found';
  }
}

@mixin text-ellipsis() {
  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
