/*
*  Sizing utility functions
*/
$-spacer: 1rem;

@function spacing($i) {
  @return 0.25 * $i * $-spacer;
}

$-sizing-map: (
  xxs: $-spacer,
  xs: 1.5 * $-spacer,
  sm: 2 * $-spacer,
  md: 2.5 * $-spacer,
  lg: 3 * $-spacer,
  xl: 3.5 * $-spacer,
  xxl: 4 * $-spacer,
);
@function size($size) {
  @if map-has-key($-sizing-map, $size) {
    @return map-get($-sizing-map, $size);
  } @else {
    @error 'Size "#{$size}" not found';
  }
}

$-size-smaller-map: (
  xs: xxs,
  sm: xs,
  md: sm,
  lg: md,
  xl: lg,
  xxl: xl,
);
@function get-size-smaller($size, $c) {
  @if map-has-key($-size-smaller-map, $size) {
    @if $c == 1 {
      @return map-get($-size-smaller-map, $size);
    }
    @return get-size-smaller(map-get($-size-smaller-map, $size), $c - 1);
  } @else {
    @error 'Size "#{$size}" not found';
  }
}
