@use 'sass:map';
@use '../../node_modules/@angular/material/index' as mat;

/*
* Colors
*/

$text: #f3f3f3;
$text-secondary: #ccc;

$primary: var(--primary);
$primary-light: var(--primary-light);
$primary-dark: var(--primary-dark);

$accent: var(--accent);
$accent-light: var(--accent-light);
$accent-dark: var(--accent-dark);

$warn: var(--warn);

$background: #1b1b1b;
$gradient-background: linear-gradient(rgb(27 27 27 / 71%), #1b1b1b);

/*
* Breakpoints
*/
$tablet: 600px;
$desktop: 900px;
$desktop-lg: 1200px;
$desktop-xl: 1536px;

//$lg: 1280px;
//$xl: 1920px;

/*
* Brightness
*/
$brightness-low: 70%;
$brightness-medium: 150%;
$brightness-high: 200%;
