@use 'variables' as *;

:host {
  display: block;
  margin-top: 40%;
}

.info-text {
  text-transform: uppercase;
  text-align: center;
  font-size: spacing(10);
  padding: 0 spacing(10);
  color: $text;
  opacity: 0.1;
  line-height: 1.4;
}
