@use 'variables' as *;

/*
* Slider
*/

.mat-slider.mat-slider-horizontal {
  display: block;
  padding: 0;
  margin: 0 -5px;

  .mat-slider-track-wrapper {
    transform: scaleY(1.7);
  }

  .mat-slider-thumb {
    transform: scale(0.7) !important;
  }
}

/*
* Float action button
*/
.mat-fab {
  .mat-button-wrapper {
    padding: 0 !important;
  }
}

/*
* Sheet
*/

.cdk-overlay-container mat-bottom-sheet-container {
  background-color: $background !important;
  color: $text !important;
  padding: 0 !important;
}

/*
* Dialog
*/

mat-dialog-container {
  background-color: $background !important;
  color: $text !important;

  .mat-form-field-flex {
    background-color: $primary-light !important;
  }

  .mat-form-field-label {
    color: $text !important;
  }

  .mat-focused .mat-form-field-ripple {
    background-color: $accent !important;
  }

  .mat-focused .mat-form-field-label {
    color: $accent !important;
  }

  input {
    caret-color: $text !important;
  }

  ::placeholder {
    color: $text !important;
    opacity: 0.5;
  }
}

/*
* Menu
*/

.mat-menu-content {
  color: $text;
  background-color: $primary-light;

  .mat-menu-item {
    color: $text;
  }

  .mat-icon-no-color {
    color: $text !important;
  }
}
