@use 'variables' as *;

/* TODO remove this */
.mat-slider-thumb-container,
.mat-slider-track-fill {
  transition: none !important;
}

/*
* Slider
*/
.mat-slider.mat-slider-horizontal {
  display: block;
  padding: 0;
  margin: 0 -7px;

  .mat-slider-track-wrapper {
    transform: scaleY(1.7);
  }

  .mat-slider-thumb {
    transform: scale(0.55) !important;
  }
}

/*
* Float action button
*/
.mat-fab {
  .mat-button-wrapper {
    padding: 0 !important;
  }
}

/*
* Sheet
*/
.cdk-overlay-container mat-bottom-sheet-container {
  padding: 0 !important;
  max-height: 100vh;
}

/*
* Accordion
*/

mat-panel-title .mat-icon {
  margin-right: 10px;
}

/*
* Mat card
*/
mat-card {
  .mat-card-header-text {
    margin: 0;
  }
}

/*
* Mat divider
*/

mat-divider.mat-divider {
  margin: spacing(4) 0;
  border-top-color: rgb(255 255 255 / 12%) !important;
}

.page-content.animate__faster {
  -webkit-animation-duration: calc(1s / 3.5);
  animation-duration: calc(1s / 3.5);
  -webkit-animation-duration: calc(var(--animate-duration) / 3.5);
  animation-duration: calc(var(--animate-duration) / 3.5);
}
