@use 'variables' as *;

/*
* Slider
*/

.mat-slider.mat-slider-horizontal {
  display: block;
  padding: 0;
  margin: 0 -5px;

  .mat-slider-track-wrapper {
    transform: scaleY(1.7);
  }

  .mat-slider-thumb {
    transform: scale(0.7) !important;
  }
}

/*
* Float action button
*/
.mat-fab {
  .mat-button-wrapper {
    padding: 0 !important;
  }
}

/*
* Sheet
*/

.cdk-overlay-container mat-bottom-sheet-container {
  background-color: $background !important;
  color: $text !important;
  padding: 0 !important;
}

/*
* Dialog
*/
