<mat-accordion>
  <mat-expansion-panel [formGroup]="displayForm">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>view_compact</mat-icon>
        <ng-container>{{ 'SETTINGS.display' | translate }}</ng-container>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    <p class="form-name">{{ 'SETTINGS.language' | translate }}</p>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>{{ 'SETTINGS.language' | translate }}</mat-label>
      <mat-select formControlName="language">
        <mat-option *ngFor="let languageCode of languageCodes" [value]="languageCode">
          {{ languageCode }} - {{ 'languages.' + languageCode | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
