@use 'variables' as *;

:host {
  display: block;

  ::ng-deep.mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
  }

  ::ng-deep.mat-list-item-disabled {
    background-color: transparent !important;
  }
}

.mat-form-field {
  width: 100%;
  padding: 0 16px;
}

mat-divider {
  margin-bottom: spacing(5);
}

.section-name {
  font-size: 15px;
  margin: spacing(3) 0;
  padding: 0 16px;
}
//
//section.section:first-of-type {
//  margin-top: spacing(5);
//}

.mat-list-item-disabled {
  .text-warn,
  .text-secondary {
    color: rgba(255, 255, 255, 0.5);
  }
}
