<div *ngIf="currentTrack">
  <mat-progress-bar
    [value]="trackProgress$ | async"
    color="accent"
    mode="determinate"
  ></mat-progress-bar>

  <div class="player-bar" (click)="openPlayerSheet()">
    <div class="track">
      <object
        class="track-thumb"
        [data]="currentTrack?.thumbUrl || defaultTrack.thumbUrl | safe"
        type="image/jpeg"
      >
        <img class="track-thumb" [src]="'' | safe" [alt]="currentTrack?.title" />
      </object>

      <div class="track-info text-ellipsis">
        <span class="track-info__title">{{ currentTrack?.title || defaultTrack.title }}</span>
        <span class="track-info__author">{{ currentTrack?.author || defaultTrack.author }}</span>
      </div>
    </div>
  </div>

  <div class="controls">
    <button (click)="prev()" [disabled]="!currentTrack" mat-icon-button>
      <mat-icon>skip_previous</mat-icon>
    </button>

    <ng-container *ngIf="!isPlaying()">
      <button (click)="play()" [disabled]="!currentTrack" color="accent" mat-fab>
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="isPlaying()">
      <button (click)="pause()" [disabled]="!currentTrack" color="accent" mat-fab>
        <mat-icon>pause</mat-icon>
      </button>
    </ng-container>

    <button (click)="next()" [disabled]="!currentTrack" mat-icon-button>
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
</div>
