<div *ngIf="!isTabPlayer">
  <mat-progress-bar color="accent" mode="determinate" [value]="trackProgress"></mat-progress-bar>
  <a class="player-bar" [routerLink]="currentTrack ? playerRouterLink : undefined">
    <div class="track">
      <object
        class="track-thumb"
        [data]="currentTrack?.thumbUrl || defaultTrack.thumbUrl | safe"
        type="image/jpeg"
      >
        >
        <img class="track-thumb" [src]="'' | safe" [alt]="currentTrack?.title" />
      </object>

      <div class="track-info">
        <span class="track-info__title">{{ currentTrack?.title || defaultTrack.title }}</span>
        <span class="track-info__author">{{ currentTrack?.author || defaultTrack.author }}</span>
      </div>
    </div>
  </a>
  <div class="controls">
    <button
      (click)="prev()"
      [disabled]="!currentTrack"
      mat-icon-button
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>skip_previous</mat-icon>
    </button>

    <ng-container *ngIf="!isPlaying()">
      <button
        (click)="play()"
        [disabled]="!currentTrack"
        mat-fab
        color="accent"
        aria-label="Example icon button with a bookmark icon"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="isPlaying()">
      <button
        (click)="pause()"
        [disabled]="!currentTrack"
        mat-fab
        color="accent"
        aria-label="Example icon button with a bookmark icon"
      >
        <mat-icon>pause</mat-icon>
      </button>
    </ng-container>

    <button
      (click)="next()"
      [disabled]="!currentTrack"
      mat-icon-button
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
</div>
