@use 'variables' as *;

:host {
  display: block;
  position: relative;
  max-height: 80px;
  font-size: 1rem;
  background-color: $primary;
}

.player-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: spacing(4) 140px spacing(4) spacing(3);
  border-top: 1px solid $accent;
}

.track {
  flex: 1 1 100%;
  min-width: 0;
  display: flex;
  align-items: center;
}

.track-thumb {
  object-fit: cover;
  width: size(lg);
  height: size(lg);
  min-width: size(lg);
  min-height: size(lg);
}

.track-info {
  display: flex;
  flex-direction: column;
  padding-left: spacing(4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include text-ellipsis;

  &__title {
    margin-bottom: spacing(1);
  }

  &__author {
    color: $text-secondary;
  }
}

.controls {
  padding-right: spacing(3);
  position: absolute;
  right: 0;
  bottom: 16px;

  & :nth-child(2) {
    margin: 0 spacing(2);
  }

  @include m-fab(lg);
  @include m-icon-button(md);
}
