<h1 class="dialog-header-container" i18n>Edit lyrics</h1>

<div class="dialog-content-container">
  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Lyrics</mat-label>
      <textarea
        matInput
        formControlName="lyrics"
        placeholder="Track lyrics..."
        i18n-placeholder
      ></textarea>
    </mat-form-field>
  </form>
</div>

<maheta-dialog-footer-buttons
  (secondaryButtonEvent)="close()"
  (primaryButtonEvent)="save()"
  secondaryButtonLabel="Close"
  primaryButtonLabel="Save"
></maheta-dialog-footer-buttons>
