<h1 class="dialog-header-container">{{ 'global.editLyrics' | translate }}</h1>

<div class="dialog-content-container">
  <form [formGroup]="form">
    <mat-form-field class="form-field" appearance="fill" color="accent">
      <mat-label>{{ 'global.lyrics' | translate }}</mat-label>
      <textarea
        [placeholder]="'EDIT_LYRICS.lyricsPlaceholder' | translate"
        matInput
        formControlName="lyrics"
      ></textarea>

      <button mat-icon-button matSuffix (click)="clearInput()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>

<maheta-dialog-footer-buttons
  (secondaryButtonEvent)="close()"
  (primaryButtonEvent)="save()"
  [primaryButtonLabel]="'global.save' | translate"
  [secondaryButtonLabel]="'global.close' | translate"
></maheta-dialog-footer-buttons>
