<h1 class="dialog-header-container">{{ 'STORAGE_SETTINGS.header' | translate }}</h1>

<form class="dialog-content-container" [formGroup]="form">
  <ng-container formArrayName="readOptionsPaths">
    <mat-form-field
      class="example-full-width"
      *ngFor="let readOptions of readOptionsPaths; index as i"
      appearance="fill"
    >
      <mat-label>#{{ i }}</mat-label>
      <input [formControlName]="i" matInput placeholder="/storage/15F2-1213/Music" />
    </mat-form-field>
  </ng-container>
</form>

<maheta-dialog-footer-buttons
  (primaryButtonEvent)="save()"
  (secondaryButtonEvent)="close()"
  [primaryButtonLabel]="'global.save' | translate"
  [secondaryButtonLabel]="'global.close' | translate"
></maheta-dialog-footer-buttons>
