<h1 class="dialog-header-container" i18n>Edit music folder paths</h1>

<form class="dialog-content-container" [formGroup]="form">
  <ng-container formArrayName="readOptionsPaths">
    <mat-form-field
      class="example-full-width"
      *ngFor="let readOptions of readOptionsPaths; index as i"
      appearance="fill"
    >
      <mat-label>#{{ i }}</mat-label>
      <input [formControlName]="i" matInput placeholder="/storage/15F2-1213/Music" />
    </mat-form-field>
  </ng-container>
</form>

<div class="dialog-footer-container">
  <button (click)="close()" mat-button i18n>Close</button>
  <button (click)="save()" color="accent" mat-raised-button i18n>Save</button>
</div>
