@use 'variables.scss' as *;

:host{
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}

span {
  margin-left: spacing(2);
}

.app-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-height: 56px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.warn-button {
  color: $warn;

  mat-icon {
    color: $warn;
  }
}
