<mat-toolbar class="app-bar" color="primary">
  <button *ngIf="isRootScreen(); else backButton" (click)="showSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <ng-template #backButton>
    <button *ngIf="!isRootScreen()" (click)="back()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </ng-template>

  <div class="current-tab-name text-ellipsis">
    <p>{{ currentName }}</p>
  </div>

  <div class="menu">
    <button *ngIf="isCurrentTabPlaylists()" (click)="openCreatePlaylistDialog()" mat-icon-button>
      <mat-icon>playlist_add</mat-icon>
    </button>

    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="reloadDatabaseTrackData()" mat-menu-item [disabled]="isProcessing">
        <mat-icon>update</mat-icon>
        <ng-container>{{ 'APP_BAR.updateTracks' | translate }}</ng-container>
      </button>

      <button [routerLink]="urlEnum.SETTINGS" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <ng-container>{{ 'APP_BAR.settings' | translate }}</ng-container>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-progress-bar
  *ngIf="progressBarConfig.isShown"
  [value]="progressBarConfig.progress"
  [mode]="progressBarConfig.mode"
  color="accent"
></mat-progress-bar>
