<mat-toolbar color="primary" class="app-bar">
  <button mat-icon-button (click)="back()" aria-label="Example icon button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Player</span>

  <div class="menu">
    <button mat-icon-button (click)="reloadDatabaseTrackData()" aria-label="Example icon button">
      <mat-icon>refresh</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="openEditStorageSettingsDialog()"
      aria-label="Example icon button"
    >
      <mat-icon>sd_storage</mat-icon>
    </button>

    <button
      *ngIf="isCurrentTabPlaylists()"
      mat-icon-button
      (click)="openCreatePlaylistDialog()"
      aria-label="Example icon button"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-progress-bar
  *ngIf="progressBarConfig.isShown"
  color="accent"
  mode="determinate"
  [value]="progressBarConfig.progress"
></mat-progress-bar>
