<cdk-virtual-scroll-viewport itemSize="64">
  <ul>
    <li
      *cdkVirtualFor="let playlist of playlists; index as i; trackBy: playlistByIndex"
      class="scroll-element"
      mat-ripple
    >
      <img class="thumb" src="{{ playlist.thumbUrl }}" alt="{{ playlist.thumbUrl }}" />

      <div class="info" [class.active]="false">
        <span class="info__title">{{ playlist.name }}</span>
        <span class="info__author">10 songs</span>
      </div>

      <div class="menu">
        <button mat-icon-button aria-label="Example icon button with a bookmark icon">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</cdk-virtual-scroll-viewport>
