<cdk-virtual-scroll-viewport itemSize="64" minBufferPx="=64" maxBufferPx="1000">
  <ul>
    <li
      class="scroll-element"
      *cdkVirtualFor="let playlist of playlists; index as i; trackBy: playlistByIndex"
    >
      <div class="content" [routerLink]="playlist.id" mat-ripple>
        <object class="thumb" [data]="playlist.thumbUrl | safe" type="image/jpeg">
          <img class="thumb" [src]="'' | safe" [alt]="playlist.name" />
        </object>

        <div class="info" [class.active]="false">
          <span class="info__title">{{ playlist.name }}</span>
          <span class="info__author" i18n="@@songPlural">
            {getPlaylistLength(playlist), plural, =1 {1 song} other
            {{{getPlaylistLength(playlist)}} songs}}
          </span>
        </div>
      </div>

      <div class="menu">
        <button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon button with a bookmark icon"
          mat-icon-button
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button (click)="deletePlaylist(playlist)" mat-menu-item>
            <mat-icon>delete_forever</mat-icon>
            <ng-container i18n="@@deletePlaylist">Delete playlist</ng-container>
          </button>
        </mat-menu>
      </div>
    </li>
  </ul>
</cdk-virtual-scroll-viewport>
