<mat-slider
  (valueChange)="sliderRelease($event)"
  (input)="sliderHold($event)"
  (touchend)="onTouchEnd()"
  [class.mat-slider-min-value]="false"
  [max]="sliderSettings.max"
  [min]="sliderSettings.min"
  [step]="sliderSettings.step"
  [value]="sliderSettings.value"
  color="accent"
  aria-labelledby="example-name-label"
>
</mat-slider>

<div class="track-time">
  <span>{{ currentTrackTime | mahetaDuration }}</span>
  <span>{{ duration | mahetaDuration }}</span>
</div>

<div class="control-buttons">
  <mat-icon
    class="icon-button-secondary"
    (click)="toggleShuffle()"
    [color]="isShuffle ? 'accent' : undefined"
    aria-label="Example icon button with a bookmark icon"
    >shuffle
  </mat-icon>

  <div class="center-buttons">
    <mat-icon class="icon-button" (click)="prev()">skip_previous</mat-icon>

    <ng-container *ngIf="!isPlaying">
      <button
        (click)="play()"
        color="accent"
        aria-label="Example icon button with a bookmark icon"
        mat-fab
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="isPlaying">
      <button
        (click)="pause()"
        color="accent"
        aria-label="Example icon button with a bookmark icon"
        mat-fab
      >
        <mat-icon>pause</mat-icon>
      </button>
    </ng-container>

    <mat-icon class="icon-button" (click)="next()">skip_next</mat-icon>
  </div>

  <mat-icon
    class="icon-button-secondary"
    *ngIf="!isRepeatOne"
    (click)="nextRepeatMode()"
    [color]="isRepeatOne || isRepeatQueue ? 'accent' : undefined"
  >
    repeat
  </mat-icon>

  <mat-icon
    class="icon-button-secondary"
    *ngIf="isRepeatOne"
    (click)="nextRepeatMode()"
    [color]="isRepeatOne || isRepeatQueue ? 'accent' : undefined"
  >
    repeat_one
  </mat-icon>
</div>
