@use 'variables' as *;
@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
  max-width: $tablet;
  margin-left: auto;
  margin-right: auto;
}

.track-time {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  color: $text-secondary;
}

.control-buttons {
  width: 102%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  max-width: 350px;
  align-items: center;
  justify-content: space-between;

  .center-buttons {
    display: flex;
    align-items: center;
  }

  .center-buttons :nth-child(2) {
    margin: 0 spacing(4);
  }

  @include m-fab(xl);
  @include m-icon-button(lg);
}

.icon-button {
  @include m-icon(42px);
}

.icon-button:active {
  color: $accent;
}

.icon-button-secondary {
  @include m-icon(28px);
}
