@use '../../../node_modules/@angular/material/index' as mat;
$text: #f3f3f3;

$light-primary-palette: (
  50: #353535,
  100: #353535,
  200: #353535,
  300: #353535,
  400: #353535,
  500: #0f0f0f,
  600: #000,
  700: #000,
  800: #000,
  900: #000,
  A100: #000,
  A200: #000,
  A400: #000,
  A700: #000,
  contrast: (
    50: $text,
    100: $text,
    200: $text,
    300: $text,
    400: $text,
    500: $text,
    600: $text,
    700: $text,
    800: $text,
    900: $text,
    A100: $text,
    A200: $text,
    A400: $text,
    A700: $text,
  ),
);
$light-accent-palette: (
  50: #ffd04d,
  100: #ffd04d,
  200: #ffd04d,
  300: #ffd04d,
  400: #ffd04d,
  500: #f09f10,
  600: #c07f0c,
  700: #c07f0c,
  800: #c07f0c,
  900: #c07f0c,
  A100: #c07f0c,
  A200: #c07f0c,
  A400: #c07f0c,
  A700: #c07f0c,
  contrast: (
    50: $text,
    100: $text,
    200: $text,
    300: $text,
    400: $text,
    500: $text,
    600: $text,
    700: $text,
    800: $text,
    900: $text,
    A100: $text,
    A200: $text,
    A400: $text,
    A700: $text,
  ),
);

$-light-primary: mat.define-palette($light-primary-palette);
$-light-accent: mat.define-palette($light-accent-palette);
$-light-warn: mat.define-palette(mat.$red-palette);

//$-light-typography: mat.define-typography-config(
//  $font-family: 'Poppins',
//);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $-light-primary,
      accent: $-light-accent,
      warn: $-light-warn,
    ),
    //typography: $-light-typography,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $-light-primary,
      accent: $-light-accent,
      warn: $-light-warn,
    ),
    //typography: $-light-typography,
  )
);
