<div [ngClass]="['mat-typography', themeClass]">
  <!--  TODO top navigation-->
  <mat-toolbar color="primary">
    <a
      class="bottom-nav__tab"
      (click)="back()"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span style="margin-left: 10px">Player</span>
  </mat-toolbar>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <div class="bottom-wrapper">
    <maheta-player-bar></maheta-player-bar>
    <mat-toolbar class="bottom-nav" color="primary">
      <a
        *ngFor="let tab of bottomNavTabs"
        (click)="selectTab(tab)"
        routerLink="{{ tab.link }}"
        class="bottom-nav__tab"
        [class.active]="isTabActive(tab)"
        aria-label="Example icon button with a bookmark icon"
      >
        <mat-icon>{{ tab.icon }}</mat-icon>
        <span class="bottom-nav__tab-name">{{ tab.name }}</span>
      </a>
    </mat-toolbar>
  </div>
</div>
