@use 'variables' as *;

:host {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 100vh;
  background: $gradient-background;

  // TODO parametrize font color
  color: $text;
}

.page-content {
  padding: 0 spacing(8);
}

.bottom-navigation {
  position: absolute;
  bottom: 0;
  justify-content: center;

  button {
    margin: 0 spacing(4);
  }
}
