@use 'variables.scss' as *;

:host,
.main-content {
  display: block;
  height: 100%;
  color: $text;
}

.main-content {
  background-color: $background;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding-top: 56px;
  min-height: 0;
  flex: 1;
}
