@use 'variables.scss' as *;
@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
}

:host,
.sidenav-wrapper,
.sidenav-content,
.sidenav {
  height: 100%;
  color: $text;
}

.sidenav-wrapper {
  background-color: $background;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.sidenav {
  background-color: $background;
  width: 70%;
  max-width: 300px;
  color: $text;
}

.page-content {
  padding-top: 56px;
  min-height: 0;
  flex: 1;
}

.tabs {
  margin: spacing(20) auto;
  flex: 0 0 64px;
  width: 90%;

  &__tab {
    display: flex;
    align-items: center;
    padding: spacing(3) spacing(4);
    border-radius: spacing(1);
  }

  &__tab-name {
    margin-left: spacing(3);
    font-size: 1rem;
  }

  &__tab.active {
    background-color: $primary-light;
    @include mat.elevation(2);
  }

  &__tab.active &__tab-name,
  &__tab.active {
    color: $accent;
  }
}
