<!--<div [ngClass]="['mat-typography', themeClass]">-->
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav-content class="sidenav-content">
    <maheta-app-bar (showSidenav)="drawer.toggle()"></maheta-app-bar>

    <div
      class="page-content animate__animated animate__faster"
      [ngClass]="{
        animate__fadeOutUp: playerOpenAnimations.open,
        animate__fadeInDown: playerOpenAnimations.close
      }"
    >
      <router-outlet></router-outlet>
    </div>

    <maheta-player-bar></maheta-player-bar>
  </mat-sidenav-content>

  <mat-sidenav class="sidenav" #drawer mode="over">
    <div class="tabs">
      <a
        class="tabs__tab"
        *ngFor="let tab of bottomNavTabs"
        (click)="selectTab(tab)"
        [class.active]="isTabActive(tab)"
        [routerLink]="tab.url"
        mat-ripple
      >
        <mat-icon>{{ tab.icon }}</mat-icon>
        <p class="tabs__tab-name">{{ tab.name }}</p>
      </a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
